<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

	<connectionStrings>
		<add name="SWCCStr"
			 connectionString="server=database-1.cvxjwyh2efbf.us-east-2.rds.amazonaws.com;Port=3306;User ID=admin;Password=12345678;Database=swccdb;allow zero datetime=yes"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
