<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

	<connectionStrings>
		<add name="SWCCStr"
			 connectionString="server=127.0.0.1;User ID=webuser;Password=1234;Database=swccdb;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
